<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="Snapr - TikTok Downloader" />
    <meta
      name="description"
      content="Download TikTok videos, audio, or slideshows for free without any annoying watermarks."
    />
    <meta
      name="keywords"
      content="snaptik, snapr, tiktok downloader, tiktok download, tiktok slideshow, download tiktok slideshow, tiktok music downloader, tiktok download audio, download slideshow tiktok no watermark, download tiktok song, tiktok video downloader, tiktok no watermark, download tiktok video without watermark, download tiktok no watermark, download tiktok videos, snaptok, cara download video tiktok tanpa watermark, TikTok video saver, TikTok video grabber, TikTok video extractor, TikTok video converter, TikTok video downloader online, TikTok video downloader app, Download TikTok videos free, Save TikTok videos without watermark, Download TikTok videos with high quality, Best TikTok video downloader, TikTok video downloader for Android/iOS, Download TikTok videos to MP4, TikTok video downloader without login, Fast TikTok video downloader, TikTok video downloader for PC"
    />
    <meta name="robots" content="noindex, nofollow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="siyosu" />

    <title>Snapr - @<%= data.owner_username %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body
    class="flex min-h-screen flex-col bg-slate-950 font-inter text-white scrollbar-thin scrollbar-track-slate-950 scrollbar-thumb-slate-800 scrollbar-thumb-rounded"
    data-type="<%= data.type %>"
  >
    <%- include('partial/header') %>
    <main>
      <section class="mt-6">
        <div class="container">
          <div class="mx-auto max-w-2xl rounded border border-slate-800 p-4">
            <%- include('partial/video',data) %>
          </div>
        </div>
      </section>
    </main>
    <%- include('partial/footer') %>
    <script src="/js/download.js"></script>
  </body>
</html>
